//- extends layout

//- block content
//-    h1 Add Article
//-    form(method="POST", action="/articles/add")
//-       #form-group 
//-         label Title: 
//-         input.form-control(name='title', type='text')

//-       #form-group 
//-         label Author: 
//-         input.form-control(name='author', type='text')
//-       #form-group 
//-         label Body: 
//-         textarea.form-control(name='body')
//-       input.btn.btn-primary(type="submit", value='submit')

extends layout

block content
   h1 Add Article
   form(method="POST", action="/article/add")
      .form-group 
         label(for='title') Title: 
         input#title.form-control(name='title', type='text')

      .form-group 
         label(for='body') Body: 
         textarea#body.form-control(name='body')

      br

      input.btn.btn-primary(type="submit", value='Submit')
