
extends layout

block content
  h1 #{title}
  ul.list-group
    each article, i in articles
      li.list-group-item
        a(href="/article/" + article._id) #{article.title}

//- extends layout 

//- block content 
//-   h1  #{title}
//-   ul.list-group
//-     each article, i in articles
//-       li.list-group-item 
//-         a(href='/articles_list/'+article._id)= article.title

