extends layout

block content
   h1 Login
   form(method="POST", action="/users/login")
      
      .form-group 
         label(for='username') Username: 
         input#username.form-control(name='username', type='text')

      .form-group 
         label(for='password') Password: 
         input#password.form-control(name='password', type='password')

      
      br


      input.btn.btn-primary(type="submit", value='Submit')
