extends layout

block content
   h1 Register
   form(method="POST", action="/users/register")
      .form-group 
         label(for='name') Name: 
         input#name.form-control(name='name', type='text')

      .form-group 
         label(for='email') Email: 
         input#email.form-control(name='email', type='text')

      .form-group 
         label(for='username') Username: 
         input#username.form-control(name='username', type='text')

      .form-group 
         label(for='password') Password: 
         input#password.form-control(name='password', type='password')

      .form-group 
         label(for='confirm') Confirm: 
         input#confirm.form-control(name='password2', type='password')

      br


      input.btn.btn-primary(type="submit", value='Submit')
